@model AccessoriesVM

<div class="row">

    @foreach (var accessories in Model.Accessories)
    {
        <div class="col-4">
            <div class="card my-card" style="width: 18rem;">
                <div class="image">
                    <i class="fa-solid fa-heart"></i>
                    <img src="./assets/img/accessories/@accessories.Image" class="imgCards"
                         alt="...">
                </div>
                <div class="card-body card-bottom">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <h5 class="card-title">@accessories.Title</h5>
                    <h6 class="card-text">$ @((double)accessories.Price)</h6>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-half-sharp"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                </div>
            </div>

        </div>
    }

    <div class="show-more d-flex justify-content-center my-3 mb-3 w-100">
        <button class="btn btn-primary">Show more ...</button>
    </div>
    </div>
</div>